# Wczytywanie bibliotek

In [225]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize

# Czyszczenie danych i tworzenie zbiorów

In [226]:
# dodać liczbę obserwacji, sprawdzić braki w danych i duplikaty

In [227]:
dane = pd.read_json('./customers.txt', lines=True)

In [228]:
dane = pd.concat([dane.drop(['customer'], axis=1), dane['customer'].apply(pd.Series)], axis=1)

In [229]:
customers_df = dane.drop(columns=['orders', 'paymentMethods', 'transactions'])
customers_df['customer_id'] = range(0, len(customers_df['fraudulent']), 1)

In [230]:
customers_df.head()

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,customer_id
0,False,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",0
1,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,1
2,False,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",2
3,False,rubenjuarez@yahoo.com,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM...",3
4,True,uchen@malone.com,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,"148 Russell Lodge Apt. 445\nPort Jenniferside,...",4

In [231]:
customers_df['email_strange'] = 0
customers_df['ipv4'] = 0
customers_df['ipv6'] = 0
customers_df['repeated_customerIPAddress'] = 0
customers_df['repeated_customerEmail'] = 0
customers_df['repeated_customerBillingAddress'] = 0

In [232]:
customers_df.loc[customers_df['customerEmail'].str.contains('\.') == False, 'email_strange'] = 1

In [233]:
customers_df.loc[customers_df['customerIPAddress'].str.contains('\.') == True, 'ipv4'] = 1

In [234]:
customers_df.loc[customers_df['customerIPAddress'].str.contains('\:') == True, 'ipv6'] = 1

In [235]:
customers_df[customers_df.duplicated(['customerIPAddress'])].drop_duplicates()['customerIPAddress']

80     45.203.99.249
88     45.203.99.249
141    45.203.99.249
Name: customerIPAddress, dtype: object

In [236]:
customers_df.loc[customers_df['customerIPAddress'].str.contains('45.203.99.249') == True, 'repeated_customerIPAddress'] = 1

In [237]:
customers_df[customers_df.duplicated(['customerEmail'])].drop_duplicates()['customerEmail']

40     johnlowery@gmail.com
45     johnlowery@gmail.com
65     johnlowery@gmail.com
79     johnlowery@gmail.com
133    johnlowery@gmail.com
155    johnlowery@gmail.com
165    johnlowery@gmail.com
Name: customerEmail, dtype: object

In [238]:
customers_df.loc[customers_df['customerEmail'].str.contains('johnlowery@gmail.com') == True, 'repeated_customerEmail'] = 1

In [239]:
customers_df[customers_df.duplicated(['customerBillingAddress'])].drop_duplicates()['customerBillingAddress'].tolist()[0]

'49680 Brian Squares Apt. 122\nPort Walterburgh, MH 02766-0708'

In [240]:
customers_df.loc[customers_df['customerBillingAddress'].str.contains('49680 Brian Squares Apt. 122\nPort Walterburgh, MH 02766-0708') == True, 'repeated_customerBillingAddress'] = 1

In [241]:
customers_df[customers_df.duplicated(['customerBillingAddress'])].drop_duplicates()

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,customer_id,email_strange,ipv4,ipv6,repeated_customerIPAddress,repeated_customerEmail,repeated_customerBillingAddress
80,True,warrenedward@arnold.com,201.737.5119x64000,6py7ewqjkxjw8zjl9eri,45.203.99.249,49680 Brian Squares Apt. 122\nPort Walterburgh...,80,0,1,0,1,0,1
90,True,brittanydean@hotmail.com,06238721842,yq8xiivmx4prlgx0gofo,3517:8e52:885:8640:a59:f5fd:cb33:b06a,49680 Brian Squares Apt. 122\nPort Walterburgh...,90,0,0,1,0,0,1

['400-108-5415',
 '1-788-091-7546',
 '024.420.0375',
 '670.664.8168x94985',
 '1-981-877-0870',
 '+65(5)8997489788',
 '05045239487',
 '044-642-9860',
 '1-885-168-1310x338',
 '(772)964-8162x6310',
 '(128)248-4091x37789',
 '1-023-275-4692',
 '897-464-6425x941',
 '(522)133-8741x643',
 '07452086668',
 '1-410-373-1228x129',
 '515.708.2280x105',
 '895-224-8246x9667',
 '1-412-734-7967x67388',
 '1-991-846-6271x54037',
 '885.682.0863',
 '(922)411-5121x98410',
 '467-222-0933x910',
 '299-883-0904',
 '02934317865',
 '1-019-956-8013',
 '203-573-2041',
 '621.591.0560',
 '650-489-7595x7901',
 '563-396-2038x288',
 '(099)775-4222',
 '+45(0)7468859801',
 '518.037.7423x366',
 '804-331-7488x82163',
 '995.449.5115x498',
 '565-347-7032',
 '(428)021-0009',
 '986-625-5606',
 '592.309.4963x427',
 '(833)029-3127',
 '737-377-9701x577',
 '384.291.0196x66623',
 '726-715-7429x06218',
 '(664)946-1521x6991',
 '+23(4)1428642270',
 '+16(4)9016414340',
 '599-142-6783',
 '1-670-969-5075x27186',
 '952-580-9304x38838',
 '+49(5)7226212913',
 '1-836-334-7673',
 '791-857-3838x784',
 '+00(2)1650962747',
 '423.526.5373',
 '731.957.1783x62296',
 '(017)893-9493',
 '266-228-3021x90360',
 '(226)129-2677',
 '764-447-7031',
 '(287)694-5221x45370',
 '698-954-1805',
 '(425)200-2228',
 '03115487766',
 '255-915-9059x3369',
 '1-043-962-2576',
 '04712252182',
 '242.165.5396x07020',
 '+78(3)5889318722',
 '754.248.6239x43965',
 '1-991-286-0655x973',
 '800.814.4655x012',
 '705.315.1466x180',
 '05514762453',
 '1-910-678-8300',
 '1-394-145-7899x0176',
 '002.940.3004x9094',
 '1-586-561-8956x40209',
 '(942)067-2430',
 '830-346-6543x518',
 '1-820-539-4726x993',
 '201.737.5119x64000',
 '04454448537',
 '06109351281',
 '(986)656-8692x32356',
 '1-414-937-7421x73705',
 '902.047.2861',
 '257-706-1003x92053',
 '1-160-137-7889x74832',
 '(071)934-3315x27613',
 '523.689.5105x7670',
 '06238721842',
 '153-392-3908x8124',
 '09686705337',
 '122-259-7479x336',
 '(940)148-2704',
 '479.228.3536',
 '(199)535-2932',
 '000-734-4774',
 '(508)223-3834',
 '143-448-8038x81186',
 '03898354581',
 '145-419-0237x139',
 '390.417.8057',
 '1-804-264-1481x08539',
 '155.688.4242x443',
 '345.319.0722x7868',
 '+32(2)6119524982',
 '029-308-3389',
 '1-774-301-9632x42146',
 '02296551953',
 '867.528.2694x83638',
 '649-150-0665',
 '869-856-7969',
 '1-469-696-6266',
 '(569)110-7736',
 '828-124-3490',
 '00065094171',
 '1-753-714-9977x4456',
 '(600)151-8836x7328',
 '629.489.3980',
 '738-700-9649x102',
 '1-020-923-6697x8718',
 '385.658.6769x97942',
 '1-333-131-2746x6449',
 '(616)674-0266x776',
 '1-627-545-5097x7356',
 '059.431.5467x7848',
 '658-087-1973x688',
 '04061905118',
 '1-856-006-5150',
 '+96(0)1872091077',
 '111.180.1112x63480',
 '01524024300',
 '1-143-059-1833',
 '587.550.8830x64152',
 '+36(0)4967812825',
 '+77(2)4526373005',
 '990.862.5466x7247',
 '+27(2)4721167637',
 '1-512-954-5541',
 '00256720158',
 '(651)355-4709',
 '347-432-4171',
 '1-321-386-6855x0101',
 '1-114-728-2835x715',
 '937-523-6702x7281',
 '(172)959-5151',
 '828.921.8126',
 '569-710-0646x4095',
 '02877590244',
 '534-301-8809',
 '463-609-3475',
 '1-192-434-2783',
 '04103378280',
 '353.413.2223x82475',
 '076-099-0630x72770',
 '716-379-6345',
 '758.182.1357x89421',
 '852-231-3642x738',
 '579-193-1785x676',
 '06498402936',
 '150-073-8610',
 '444-358-6570x947',
 '313-124-3836x3528',
 '(250)632-6631x02499',
 '635.676.0955x524',
 '962.300.2250',
 '(089)703-7360x8848']

In [244]:
orders_df = pd.DataFrame()
paymentMethods_df = pd.DataFrame()
transactions_df = pd.DataFrame()

for single_customer in range(0, len(dane['orders']), 1):
    for order in dane['orders'][single_customer]:
        simple_df = pd.DataFrame([order])
        simple_df['customer_id'] = single_customer
        orders_df = orders_df.append(simple_df)
        
for single_customer in range(0, len(dane['paymentMethods']), 1):
    for paymentMethod in dane['paymentMethods'][single_customer]:
        simple_df = pd.DataFrame([paymentMethod])
        simple_df['customer_id'] = single_customer
        paymentMethods_df = paymentMethods_df.append(simple_df)
        
for single_customer in range(0, len(dane['transactions']), 1):
    for transaction in dane['transactions'][single_customer]:
        simple_df = pd.DataFrame([transaction])
        simple_df['customer_id'] = single_customer
        transactions_df = transactions_df.append(simple_df)

In [245]:
orders_df.head()

,orderAmount,orderId,orderShippingAddress,orderState,customer_id
0,18,vjbdvd,"5493 Jones Islands\nBrownside, CA 51896",pending,0
0,26,yp6x27,"5493 Jones Islands\nBrownside, CA 51896",fulfilled,0
0,45,nlghpa,"898 Henry Ports\nNew Keithview, CA 95893-2497",fulfilled,1
0,23,uw0eeb,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,fulfilled,1
0,43,bn44oh,"5093 Bryan Forks\nJoshuaton, FM 01565-9801",fulfilled,1

In [246]:
paymentMethods_df.head()

,paymentMethodId,paymentMethodIssuer,paymentMethodProvider,paymentMethodRegistrationFailure,paymentMethodType,customer_id
0,wt07xm68b,Citizens First Banks,JCB 16 digit,True,card,0
0,y3xp697jx,Solace Banks,VISA 16 digit,True,bitcoin,1
0,6krszxc05,Vertex Bancorp,VISA 16 digit,False,card,1
0,5z1szj2he,His Majesty Bank Corp.,Diners Club / Carte Blanche,False,card,1
0,m52tx8e1s,Vertex Bancorp,Mastercard,False,card,1

In [247]:
transactions_df.head()

,orderId,paymentMethodId,transactionAmount,transactionFailed,transactionId,customer_id
0,vjbdvd,wt07xm68b,18,False,a9lcj51r,0
0,yp6x27,wt07xm68b,26,False,y4wcv03i,0
0,nlghpa,41ug157xz,45,False,5mi94sfw,1
0,uw0eeb,41ug157xz,23,False,br8ba1nu,1
0,bn44oh,y3xp697jx,43,True,a33145ss,1

# Cechy zbioru danych

In [11]:
print('Łączna liczba klientów: {}'.format(len(customers_df)))

Łączna liczba klientów: 168

In [12]:
print('Łączna liczba zamówień: {}'.format(len(orders_df)))

Łączna liczba zamówień: 478

In [13]:
print('Łączna liczba metod płatności: {}'.format(len(paymentMethods_df)))

Łączna liczba metod płatności: 342

In [14]:
print('Łączna liczba transakcji: {}'.format(len(transactions_df)))

Łączna liczba transakcji: 623

In [15]:
no_order_customers = set(customers_df['customer_id']) - set(orders_df['customer_id'])
print('Klienci bez żadnych zamówień (łącznie: {}):\n{}'.format(len(no_order_customers), sorted(list(no_order_customers))))

Klienci bez żadnych zamówień (łącznie: 27):
[9, 23, 34, 38, 40, 41, 43, 44, 47, 51, 54, 67, 70, 76, 82, 86, 96, 108, 116, 122, 125, 127, 133, 137, 139, 149, 150]

In [16]:
no_paymentMethod_customers = set(customers_df['customer_id']) - set(paymentMethods_df['customer_id'])
print('Klienci bez żadnej metody płatności (łącznie: {}):\n{}'.format(len(no_paymentMethod_customers), sorted(list(no_paymentMethod_customers))))

Klienci bez żadnej metody płatności (łącznie: 12):
[34, 38, 44, 47, 54, 70, 125, 133, 137, 139, 149, 150]

In [17]:
no_transactions_customers = set(customers_df['customer_id']) - set(transactions_df['customer_id'])
print('Klienci bez żadnej transakcji (łącznie: {}):\n{}'.format(len(no_transactions_customers), sorted(list(no_transactions_customers))))

Klienci bez żadnej transakcji (łącznie: 27):
[9, 23, 34, 38, 40, 41, 43, 44, 47, 51, 54, 67, 70, 76, 82, 86, 96, 108, 116, 122, 125, 127, 133, 137, 139, 149, 150]

In [18]:
strange_clients = no_order_customers.intersection(no_paymentMethod_customers).intersection(no_transactions_customers)
print('Klienci bez żadnego zamówienia, metody płatności i transakcji (łącznie: {}):\n{}'.format(len(strange_clients), sorted(list(strange_clients))))

Klienci bez żadnego zamówienia, metody płatności i transakcji (łącznie: 12):
[34, 38, 44, 47, 54, 70, 125, 133, 137, 139, 149, 150]

In [19]:
customers_df[customers_df['customer_id'].isin(strange_clients)]

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,customer_id
34,False,zbennett@frazier.com,995.449.5115x498,zxdd5co6f5pylq9it4x0,e03d:db6e:f5ca:b9cd:d64f:80fe:6177:26e1,89773 Peterson Course Suite 625\nEast Amandabo...,34
38,False,xwang@white.com,592.309.4963x427,1qj6z7funp3l28ym8trh,7891:9f08:9ac6:c816:7c58:26cd:ff2c:7ddc,"139 Ramirez Island Suite 885\nNew Joan, MT 69993",38
44,False,gsimpson@cox.org,+23(4)1428642270,nf0i429dh2h2fmf287ec,20.34.8.37,"32514 Freeman Court\nPort Waltermouth, SC 34012",44
47,False,johnsonjennifer@yahoo.com,1-670-969-5075x27186,yqt388sj7f142rohzukc,172.191.99.44,"6395 Christopher Lakes Suite 062\nSouth Dana, ...",47
54,False,zthomas@gmail.com,731.957.1783x62296,7p70n6q6zbgfhiqqqsxy,ad37:7b02:70fb:4b74:bc77:cd13:1bed:2483,"01494 Anderson Corners Suite 314\nDaviston, SC...",54
70,False,brockmatthew@hotmail.com,800.814.4655x012,132m3ourosp5a28ksvou,188.74.171.130,"08645 Alvarado Way Suite 514\nMillerfurt, AL 8...",70
125,False,wbeltran@ramirez-shaffer.com,1-627-545-5097x7356,z0uxvp8sio7nyv7op58j,1b75:d451:c48a:12:cfc7:bc1e:d748:ee62,"4873 Perez Groves\nWest Gregoryburgh, NH 45193...",125
133,True,johnlowery@gmail.com,1-143-059-1833,tyijaify2hqadwslejyr,e4c:fb48:8ee2:9819:6ae8:8d3f:3b6a:a788,"518 Wood Mews Apt. 970\nDillonstad, NE 43317-3945",133
137,False,stephanie21@reyes-spencer.biz,990.862.5466x7247,r526953keh7ctxcf9lnh,96eb:8d53:678:53ba:599b:5db6:3fe3:3218,"31068 Vance Forks Suite 516\nNew Christopher, ...",137
139,False,bhorne@fuller-nelson.com,1-512-954-5541,dgfa5pe2t45d1u6ox33l,118e:7887:94b6:b2a7:d2ad:8f35:c241:3149,"25653 Key Gateway\nPort Robert, PA 64370",139
149,False,davidwalker@hotmail.com,02877590244,96ikyqg56kakwa4eix4q,e634:6f95:c48d:8db4:8e95:dfc8:7225:1e0a,"8765 Dyer Alley Apt. 682\nDominguezburgh, ME 7...",149
150,False,philipnelson@dean.com,534-301-8809,xvxnwq1qs3gglt4k4g5t,ea1d:c7d:1e39:a10d:d15f:6430:d2a6:aaf,"40185 Kim Motorway\nShawchester, IL 78234-1556",150

In [20]:
customers_df[customers_df['customer_id'].isin(no_order_customers.intersection(no_transactions_customers))]

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,customer_id
9,True,ubranch@rivera-parker.info,(772)964-8162x6310,6mpx027neyz6sh04n3ue,86.16.65.228,"6974 Robertson Common Apt. 902\nPort Juanside,...",9
23,True,guerramichael@hotmail.com,299-883-0904,webmbgi39hwejv3d90kt,245.38.171.222,"13553 Michelle Freeway Apt. 290\nTammyhaven, G...",23
34,False,zbennett@frazier.com,995.449.5115x498,zxdd5co6f5pylq9it4x0,e03d:db6e:f5ca:b9cd:d64f:80fe:6177:26e1,89773 Peterson Course Suite 625\nEast Amandabo...,34
38,False,xwang@white.com,592.309.4963x427,1qj6z7funp3l28ym8trh,7891:9f08:9ac6:c816:7c58:26cd:ff2c:7ddc,"139 Ramirez Island Suite 885\nNew Joan, MT 69993",38
40,True,johnlowery@gmail.com,737-377-9701x577,jz66ap43id2y35ivfqa5,6c21:ac1d:2089:68fa:abb7:8c00:525f:6588,"08238 Kyle Squares Suite 893\nMillermouth, IN ...",40
41,False,smithtiffany@davis-perkins.com,384.291.0196x66623,czrv4aped9e2ndgv89b5,141.224.72.49,1862 Melanie Islands Apt. 152\nNorth Williamha...,41
43,False,knichols@gmail.com,(664)946-1521x6991,w0ykvw2nrcc03lx6logd,43.108.40.6,"1742 Regina Turnpike Suite 295\nWest Austin, D...",43
44,False,gsimpson@cox.org,+23(4)1428642270,nf0i429dh2h2fmf287ec,20.34.8.37,"32514 Freeman Court\nPort Waltermouth, SC 34012",44
47,False,johnsonjennifer@yahoo.com,1-670-969-5075x27186,yqt388sj7f142rohzukc,172.191.99.44,"6395 Christopher Lakes Suite 062\nSouth Dana, ...",47
51,False,whodges@yahoo.com,791-857-3838x784,c0zsrf0sna9bkdhncxk3,26a2:b5fa:e76c:cf72:577b:ea46:3b20:16b0,"839 Heather Mall Suite 257\nLake Robert, AL 60...",51
54,False,zthomas@gmail.com,731.957.1783x62296,7p70n6q6zbgfhiqqqsxy,ad37:7b02:70fb:4b74:bc77:cd13:1bed:2483,"01494 Anderson Corners Suite 314\nDaviston, SC...",54
67,False,dana23@lawrence.net,+78(3)5889318722,1c9wdri783k7ts0a6ix0,168.52.139.112,USNV Bennett\nFPO AE 82607-5790,67
70,False,brockmatthew@hotmail.com,800.814.4655x012,132m3ourosp5a28ksvou,188.74.171.130,"08645 Alvarado Way Suite 514\nMillerfurt, AL 8...",70
76,False,kevinreyes@johnston.net,1-586-561-8956x40209,jfu1ob6izknk46i3ddxw,e0ec:bc57:9219:e4b:9192:64c2:82cd:4983,"958 House Plaza\nBarnesberg, WA 67085-1912",76
82,True,michael57@oconnor.com,06109351281,vqvlsaw0j6p0r8sij1qs,30.23.223.15,"905 David Rest\nNicolemouth, OK 53015-0063",82
86,False,grace99@wright.com,257-706-1003x92053,1rqqqzad6b2grmhvktxf,3c3d:d324:e445:35c:4d73:936a:e1bb:ce99,"88469 Rebecca Land\nWest Kyleborough, DC 15715...",86
96,True,ukline@spears.biz,(199)535-2932,vv7fwhdfrxaeozga5be6,990a:643c:1936:30db:f90:90fe:c1e0:47c,"2038 Billy Turnpike\nBarreraside, AR 77704-0733",96
108,True,3fooiar@6eph,1-774-301-9632x42146,by46esafzb52tuqcy9d1,181.88.44.76,"942 Hopkins Loaf Suite 128\nPort Clifford, AK ...",108
116,False,shawseth@stout-novak.com,00065094171,svq3bmo24fmvgqjpzb7i,d606:a3a7:a070:6a0:3aa1:c662:1492:ae8c,3257 Mercado Underpass Suite 577\nSouth Jordan...,116
122,False,kellyfrank@atkinson.com,385.658.6769x97942,7oxxcwtvj7ypxqjgot80,77a1:d842:acfc:5d50:a803:70c1:4f8b:7cfc,"05919 Lopez Hollow\nNoblestad, IN 29012",122
125,False,wbeltran@ramirez-shaffer.com,1-627-545-5097x7356,z0uxvp8sio7nyv7op58j,1b75:d451:c48a:12:cfc7:bc1e:d748:ee62,"4873 Perez Groves\nWest Gregoryburgh, NH 45193...",125
127,False,xramos@hardy.net,658-087-1973x688,4kl0sso2vjavht738gbq,472b:1d87:5a09:953a:8ced:a2bf:e862:b927,"522 Christensen Mall Apt. 479\nMitchellville, ...",127
133,True,johnlowery@gmail.com,1-143-059-1833,tyijaify2hqadwslejyr,e4c:fb48:8ee2:9819:6ae8:8d3f:3b6a:a788,"518 Wood Mews Apt. 970\nDillonstad, NE 43317-3945",133
137,False,stephanie21@reyes-spencer.biz,990.862.5466x7247,r526953keh7ctxcf9lnh,96eb:8d53:678:53ba:599b:5db6:3fe3:3218,"31068 Vance Forks Suite 516\nNew Christopher, ...",137
139,False,bhorne@fuller-nelson.com,1-512-954-5541,dgfa5pe2t45d1u6ox33l,118e:7887:94b6:b2a7:d2ad:8f35:c241:3149,"25653 Key Gateway\nPort Robert, PA 64370",139
149,False,davidwalker@hotmail.com,02877590244,96ikyqg56kakwa4eix4q,e634:6f95:c48d:8db4:8e95:dfc8:7225:1e0a,"8765 Dyer Alley Apt. 682\nDominguezburgh, ME 7...",149
150,False,philipnelson@dean.com,534-301-8809,xvxnwq1qs3gglt4k4g5t,ea1d:c7d:1e39:a10d:d15f:6430:d2a6:aaf,"40185 Kim Motorway\nShawchester, IL 78234-1556",150

In [21]:
clients_to_delete = set(no_order_customers.union(no_paymentMethod_customers).union(no_transactions_customers))

# Tworzenie zmiennych

In [22]:
orders_by_state = orders_df.groupby(['customer_id', 'orderState'])['orderId'].count().unstack().fillna(0).add_prefix('orders_').reset_index()
orders_by_state.head()

orderState  customer_id  orders_failed  orders_fulfilled  orders_pending
0                     0            0.0               1.0             1.0
1                     1            0.0               3.0             0.0
2                     2            1.0               2.0             0.0
3                     3            0.0               3.0             0.0
4                     4            1.0               6.0             0.0

In [23]:
orders_value_sum = orders_df.groupby(['customer_id'])['orderAmount'].sum().reset_index().rename(columns={'orderAmount': 'orders_value_sum'})
orders_value_sum.head()

   customer_id  orders_value_sum
0            0                44
1            1               111
2            2                82
3            3                85
4            4               411

In [24]:
orders_all = orders_df.groupby(['customer_id'])['orderId'].count().reset_index().rename(columns={'orderId': 'orders_sum'})
orders_all.head()

   customer_id  orders_sum
0            0           2
1            1           3
2            2           3
3            3           3
4            4           7

In [25]:
paymentMethods_registrations = paymentMethods_df.groupby(['customer_id', 'paymentMethodType'])['paymentMethodId'].count().unstack().fillna(0).add_prefix('paymentMethod_').reset_index()
paymentMethods_registrations.head()

paymentMethodType,customer_id,paymentMethod_apple pay,paymentMethod_bitcoin,paymentMethod_card,paymentMethod_paypal
0,0,0.0,0.0,1.0,0.0
1,1,0.0,2.0,5.0,0.0
2,2,0.0,0.0,2.0,0.0
3,3,0.0,0.0,1.0,0.0
4,4,3.0,0.0,3.0,0.0

In [26]:
paymentMethods_types = paymentMethods_df.groupby(['customer_id', 'paymentMethodRegistrationFailure'])['paymentMethodId'].count().unstack().fillna(0).add_prefix('paymentMethod_').reset_index()
paymentMethods_types.head()

paymentMethodRegistrationFailure,customer_id,paymentMethod_False,paymentMethod_True
0,0,0.0,1.0
1,1,6.0,1.0
2,2,2.0,0.0
3,3,1.0,0.0
4,4,6.0,0.0

In [27]:
paymentMethods_all = paymentMethods_df.groupby(['customer_id'])['paymentMethodId'].count().reset_index().rename(columns={'paymentMethodId': 'paymentMethod_all'})
paymentMethods_all.head()

   customer_id  paymentMethod_all
0            0                  1
1            1                  7
2            2                  2
3            3                  1
4            4                  6

In [28]:
transactions_by_state = transactions_df.groupby(['customer_id', 'transactionFailed'])['transactionId'].count().unstack().fillna(0).add_prefix('transactions_').reset_index()
transactions_by_state.head()

transactionFailed  customer_id  transactions_False  transactions_True
0                            0                 2.0                0.0
1                            1                 2.0                1.0
2                            2                 3.0                2.0
3                            3                 3.0                0.0
4                            4                 5.0                2.0

In [29]:
transactions_value_sum = transactions_df.groupby(['customer_id'])['transactionAmount'].sum().reset_index().rename(columns={'transactionAmount': 'transactions_value_sum'})
transactions_value_sum.head()

   customer_id  transactions_value_sum
0            0                      44
1            1                     111
2            2                     131
3            3                      85
4            4                     411

In [30]:
transactions_all = transactions_df.groupby(['customer_id'])['transactionId'].count().reset_index().rename(columns={'transactionId': 'transaction_all'})
transactions_all.head()

   customer_id  transaction_all
0            0                2
1            1                3
2            2                5
3            3                3
4            4                7

In [250]:
features_df = customers_df[['customer_id', 'fraudulent', 'email_strange', 'ipv4', 'ipv6',\
                            'repeated_customerIPAddress', 'repeated_customerEmail',\
                            'repeated_customerBillingAddress']]
features_df.head()

,customer_id,fraudulent,email_strange,ipv4,ipv6,repeated_customerIPAddress,repeated_customerEmail,repeated_customerBillingAddress
0,0,False,0,1,0,0,0,0
1,1,True,0,1,0,0,0,0
2,2,False,0,0,1,0,0,0
3,3,False,0,0,1,0,0,0
4,4,True,0,1,0,0,0,0

In [251]:
feature_dfs = [orders_by_state, orders_value_sum, orders_all, paymentMethods_registrations,\
               paymentMethods_types, paymentMethods_all, transactions_by_state,\
               transactions_value_sum, transactions_all]
for single_feature in feature_dfs:
    features_df = pd.merge(features_df, single_feature, how='left', on='customer_id')

In [252]:
features_df.head()

,customer_id,fraudulent,email_strange,ipv4,ipv6,repeated_customerIPAddress,repeated_customerEmail,repeated_customerBillingAddress,orders_failed,orders_fulfilled,...,paymentMethod_bitcoin,paymentMethod_card,paymentMethod_paypal,paymentMethod_False,paymentMethod_True,paymentMethod_all,transactions_False,transactions_True,transactions_value_sum,transaction_all
0,0,False,0,1,0,0,0,0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,2.0,0.0,44.0,2.0
1,1,True,0,1,0,0,0,0,0.0,3.0,...,2.0,5.0,0.0,6.0,1.0,7.0,2.0,1.0,111.0,3.0
2,2,False,0,0,1,0,0,0,1.0,2.0,...,0.0,2.0,0.0,2.0,0.0,2.0,3.0,2.0,131.0,5.0
3,3,False,0,0,1,0,0,0,0.0,3.0,...,0.0,1.0,0.0,1.0,0.0,1.0,3.0,0.0,85.0,3.0
4,4,True,0,1,0,0,0,0,1.0,6.0,...,0.0,3.0,0.0,6.0,0.0,6.0,5.0,2.0,411.0,7.0

In [253]:
features_df_clean = features_df[~features_df['customer_id'].isin(clients_to_delete)]

# Tworzenie modelu

## Random Forest

In [266]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features_df_clean['fraudulent'])
# Remove the labels from the features
# axis 1 refers to the columns
features = features_df_clean.loc[:, 'email_strange':'transaction_all']
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [267]:
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_x, test_x, train_y, test_y = train_test_split(features, labels, 
                                                    test_size = 0.25, random_state = 23)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 23)
# Train the model on training data
rf.fit(train_x, train_y)

In [257]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_x)

In [258]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(train_y, rf.predict(train_x))

1.0

In [259]:
accuracy_score(test_y, predictions)

0.6111111111111112

In [260]:
confusion_matrix(test_y, predictions)

array([[18,  1],
       [13,  4]])

## Logistic Regression

In [261]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(train_x, train_y)

/home/azawalich/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [262]:
from sklearn.metrics import classification_report

In [263]:
print(classification_report(test_y, predictions))

              precision    recall  f1-score   support

       False       0.58      0.95      0.72        19
        True       0.80      0.24      0.36        17

    accuracy                           0.61        36
   macro avg       0.69      0.59      0.54        36
weighted avg       0.68      0.61      0.55        36

## SVM

In [264]:
from sklearn import svm
clf = svm.SVC(gamma=0.001, C=100.)
clf.fit(train_x, train_y)

SVC(C=100.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.001, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [265]:
clf_predictions = clf.predict(test_x)
print("Accuracy: {}%".format(clf.score(test_x, test_y) * 100 ))

Accuracy: 58.333333333333336%