# Wczytywanie bibliotek

In [347]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize

# Czyszczenie danych i tworzenie zbiorów

In [348]:
# dodać liczbę obserwacji, sprawdzić braki w danych i duplikaty

In [349]:
dane = pd.read_json('./customers.txt', lines=True)

In [350]:
dane = pd.concat([dane.drop(['customer'], axis=1), dane['customer'].apply(pd.Series)], axis=1)

In [351]:
customers_df = dane.drop(columns=['orders', 'paymentMethods', 'transactions'])
customers_df['customer_id'] = range(0, len(customers_df['fraudulent']), 1)

In [352]:
customers_df.head()

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,customer_id
0,False,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",0
1,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,"356 Elizabeth Inlet Suite 120\nPort Joshuabury, NM 37681",1
2,False,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",2
3,False,rubenjuarez@yahoo.com,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM 51359",3
4,True,uchen@malone.com,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,"148 Russell Lodge Apt. 445\nPort Jenniferside, TN 60556-0871",4

In [353]:
customers_df['strange_customerEmail'] = 0
customers_df['strange_paymentMethodIssuer'] = 0
customers_df['ipv4'] = 0
customers_df['ipv6'] = 0
customers_df['repeated_customerIPAddress'] = 0
customers_df['repeated_customerEmail'] = 0
customers_df['repeated_customerBillingAddress'] = 0

In [354]:
customers_df.loc[customers_df['customerEmail'].str.contains('\.') == False, 'strange_customerEmail'] = 1

In [355]:
customers_df.loc[customers_df['customerIPAddress'].str.contains('\.') == True, 'ipv4'] = 1

In [356]:
customers_df.loc[customers_df['customerIPAddress'].str.contains('\:') == True, 'ipv6'] = 1

In [357]:
customers_df[customers_df.duplicated(['customerIPAddress'])].drop_duplicates()['customerIPAddress']

80     45.203.99.249
88     45.203.99.249
141    45.203.99.249
Name: customerIPAddress, dtype: object

In [358]:
customers_df.loc[customers_df['customerIPAddress'].str.contains('45.203.99.249') == True, 'repeated_customerIPAddress'] = 1

In [359]:
customers_df[customers_df.duplicated(['customerEmail'])].drop_duplicates()['customerEmail']

40     johnlowery@gmail.com
45     johnlowery@gmail.com
65     johnlowery@gmail.com
79     johnlowery@gmail.com
133    johnlowery@gmail.com
155    johnlowery@gmail.com
165    johnlowery@gmail.com
Name: customerEmail, dtype: object

In [360]:
customers_df.loc[customers_df['customerEmail'].str.contains('johnlowery@gmail.com') == True, 'repeated_customerEmail'] = 1

In [361]:
customers_df[customers_df.duplicated(['customerBillingAddress'])].drop_duplicates()['customerBillingAddress'].tolist()[0]

'49680 Brian Squares Apt. 122\nPort Walterburgh, MH 02766-0708'

In [362]:
customers_df.loc[customers_df['customerBillingAddress'].str.contains('49680 Brian Squares Apt. 122\nPort Walterburgh, MH 02766-0708') == True, 'repeated_customerBillingAddress'] = 1

In [363]:
customers_df[customers_df.duplicated(['customerBillingAddress'])].drop_duplicates()

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,customer_id,strange_customerEmail,strange_paymentMethodIssuer,ipv4,ipv6,repeated_customerIPAddress,repeated_customerEmail,repeated_customerBillingAddress
80,True,warrenedward@arnold.com,201.737.5119x64000,6py7ewqjkxjw8zjl9eri,45.203.99.249,"49680 Brian Squares Apt. 122\nPort Walterburgh, MH 02766-0708",80,0,0,1,0,1,0,1
90,True,brittanydean@hotmail.com,06238721842,yq8xiivmx4prlgx0gofo,3517:8e52:885:8640:a59:f5fd:cb33:b06a,"49680 Brian Squares Apt. 122\nPort Walterburgh, MH 02766-0708",90,0,0,0,1,0,0,1

In [364]:
orders_df = pd.DataFrame()
paymentMethods_df = pd.DataFrame()
transactions_df = pd.DataFrame()

for single_customer in range(0, len(dane['orders']), 1):
    for order in dane['orders'][single_customer]:
        simple_df = pd.DataFrame([order])
        simple_df['customer_id'] = single_customer
        orders_df = orders_df.append(simple_df)
        
for single_customer in range(0, len(dane['paymentMethods']), 1):
    for paymentMethod in dane['paymentMethods'][single_customer]:
        simple_df = pd.DataFrame([paymentMethod])
        simple_df['customer_id'] = single_customer
        paymentMethods_df = paymentMethods_df.append(simple_df)
        
for single_customer in range(0, len(dane['transactions']), 1):
    for transaction in dane['transactions'][single_customer]:
        simple_df = pd.DataFrame([transaction])
        simple_df['customer_id'] = single_customer
        transactions_df = transactions_df.append(simple_df)

In [365]:
orders_df.head()

,orderAmount,orderId,orderShippingAddress,orderState,customer_id
0,18,vjbdvd,"5493 Jones Islands\nBrownside, CA 51896",pending,0
0,26,yp6x27,"5493 Jones Islands\nBrownside, CA 51896",fulfilled,0
0,45,nlghpa,"898 Henry Ports\nNew Keithview, CA 95893-2497",fulfilled,1
0,23,uw0eeb,"356 Elizabeth Inlet Suite 120\nPort Joshuabury, NM 37681",fulfilled,1
0,43,bn44oh,"5093 Bryan Forks\nJoshuaton, FM 01565-9801",fulfilled,1

In [366]:
paymentMethods_df.head()

,paymentMethodId,paymentMethodIssuer,paymentMethodProvider,paymentMethodRegistrationFailure,paymentMethodType,customer_id
0,wt07xm68b,Citizens First Banks,JCB 16 digit,True,card,0
0,y3xp697jx,Solace Banks,VISA 16 digit,True,bitcoin,1
0,6krszxc05,Vertex Bancorp,VISA 16 digit,False,card,1
0,5z1szj2he,His Majesty Bank Corp.,Diners Club / Carte Blanche,False,card,1
0,m52tx8e1s,Vertex Bancorp,Mastercard,False,card,1

In [367]:
transactions_df.head()

,orderId,paymentMethodId,transactionAmount,transactionFailed,transactionId,customer_id
0,vjbdvd,wt07xm68b,18,False,a9lcj51r,0
0,yp6x27,wt07xm68b,26,False,y4wcv03i,0
0,nlghpa,41ug157xz,45,False,5mi94sfw,1
0,uw0eeb,41ug157xz,23,False,br8ba1nu,1
0,bn44oh,y3xp697jx,43,True,a33145ss,1

# Cechy zbioru danych

In [368]:
print('Łączna liczba klientów: {}'.format(len(customers_df)))

Łączna liczba klientów: 168

In [369]:
print('Łączna liczba zamówień: {}'.format(len(orders_df)))

Łączna liczba zamówień: 478

In [370]:
print('Łączna liczba metod płatności: {}'.format(len(paymentMethods_df)))

Łączna liczba metod płatności: 342

In [371]:
print('Łączna liczba transakcji: {}'.format(len(transactions_df)))

Łączna liczba transakcji: 623

In [372]:
no_order_customers = set(customers_df['customer_id']) - set(orders_df['customer_id'])
print('Klienci bez żadnych zamówień (łącznie: {}):\n{}'.format(len(no_order_customers), sorted(list(no_order_customers))))

Klienci bez żadnych zamówień (łącznie: 27):
[9, 23, 34, 38, 40, 41, 43, 44, 47, 51, 54, 67, 70, 76, 82, 86, 96, 108, 116, 122, 125, 127, 133, 137, 139, 149, 150]

In [373]:
no_paymentMethod_customers = set(customers_df['customer_id']) - set(paymentMethods_df['customer_id'])
print('Klienci bez żadnej metody płatności (łącznie: {}):\n{}'.format(len(no_paymentMethod_customers), sorted(list(no_paymentMethod_customers))))

Klienci bez żadnej metody płatności (łącznie: 12):
[34, 38, 44, 47, 54, 70, 125, 133, 137, 139, 149, 150]

In [374]:
no_transactions_customers = set(customers_df['customer_id']) - set(transactions_df['customer_id'])
print('Klienci bez żadnej transakcji (łącznie: {}):\n{}'.format(len(no_transactions_customers), sorted(list(no_transactions_customers))))

Klienci bez żadnej transakcji (łącznie: 27):
[9, 23, 34, 38, 40, 41, 43, 44, 47, 51, 54, 67, 70, 76, 82, 86, 96, 108, 116, 122, 125, 127, 133, 137, 139, 149, 150]

In [375]:
strange_clients = no_order_customers.intersection(no_paymentMethod_customers).intersection(no_transactions_customers)
print('Klienci bez żadnego zamówienia, metody płatności i transakcji (łącznie: {}):\n{}'.format(len(strange_clients), sorted(list(strange_clients))))

Klienci bez żadnego zamówienia, metody płatności i transakcji (łącznie: 12):
[34, 38, 44, 47, 54, 70, 125, 133, 137, 139, 149, 150]

In [376]:
customers_df[customers_df['customer_id'].isin(strange_clients)]

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,customer_id,strange_customerEmail,strange_paymentMethodIssuer,ipv4,ipv6,repeated_customerIPAddress,repeated_customerEmail,repeated_customerBillingAddress
34,False,zbennett@frazier.com,995.449.5115x498,zxdd5co6f5pylq9it4x0,e03d:db6e:f5ca:b9cd:d64f:80fe:6177:26e1,"89773 Peterson Course Suite 625\nEast Amandaborough, VA 47613-8661",34,0,0,0,1,0,0,0
38,False,xwang@white.com,592.309.4963x427,1qj6z7funp3l28ym8trh,7891:9f08:9ac6:c816:7c58:26cd:ff2c:7ddc,"139 Ramirez Island Suite 885\nNew Joan, MT 69993",38,0,0,0,1,0,0,0
44,False,gsimpson@cox.org,+23(4)1428642270,nf0i429dh2h2fmf287ec,20.34.8.37,"32514 Freeman Court\nPort Waltermouth, SC 34012",44,0,0,1,0,0,0,0
47,False,johnsonjennifer@yahoo.com,1-670-969-5075x27186,yqt388sj7f142rohzukc,172.191.99.44,"6395 Christopher Lakes Suite 062\nSouth Dana, ID 74510-4952",47,0,0,1,0,0,0,0
54,False,zthomas@gmail.com,731.957.1783x62296,7p70n6q6zbgfhiqqqsxy,ad37:7b02:70fb:4b74:bc77:cd13:1bed:2483,"01494 Anderson Corners Suite 314\nDaviston, SC 85230",54,0,0,0,1,0,0,0
70,False,brockmatthew@hotmail.com,800.814.4655x012,132m3ourosp5a28ksvou,188.74.171.130,"08645 Alvarado Way Suite 514\nMillerfurt, AL 86782-0548",70,0,0,1,0,0,0,0
125,False,wbeltran@ramirez-shaffer.com,1-627-545-5097x7356,z0uxvp8sio7nyv7op58j,1b75:d451:c48a:12:cfc7:bc1e:d748:ee62,"4873 Perez Groves\nWest Gregoryburgh, NH 45193-3053",125,0,0,0,1,0,0,0
133,True,johnlowery@gmail.com,1-143-059-1833,tyijaify2hqadwslejyr,e4c:fb48:8ee2:9819:6ae8:8d3f:3b6a:a788,"518 Wood Mews Apt. 970\nDillonstad, NE 43317-3945",133,0,0,0,1,0,1,0
137,False,stephanie21@reyes-spencer.biz,990.862.5466x7247,r526953keh7ctxcf9lnh,96eb:8d53:678:53ba:599b:5db6:3fe3:3218,"31068 Vance Forks Suite 516\nNew Christopher, VI 95596",137,0,0,0,1,0,0,0
139,False,bhorne@fuller-nelson.com,1-512-954-5541,dgfa5pe2t45d1u6ox33l,118e:7887:94b6:b2a7:d2ad:8f35:c241:3149,"25653 Key Gateway\nPort Robert, PA 64370",139,0,0,0,1,0,0,0
149,False,davidwalker@hotmail.com,02877590244,96ikyqg56kakwa4eix4q,e634:6f95:c48d:8db4:8e95:dfc8:7225:1e0a,"8765 Dyer Alley Apt. 682\nDominguezburgh, ME 74208",149,0,0,0,1,0,0,0
150,False,philipnelson@dean.com,534-301-8809,xvxnwq1qs3gglt4k4g5t,ea1d:c7d:1e39:a10d:d15f:6430:d2a6:aaf,"40185 Kim Motorway\nShawchester, IL 78234-1556",150,0,0,0,1,0,0,0

In [377]:
customers_df[customers_df['customer_id'].isin(no_order_customers.intersection(no_transactions_customers))]

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,customer_id,strange_customerEmail,strange_paymentMethodIssuer,ipv4,ipv6,repeated_customerIPAddress,repeated_customerEmail,repeated_customerBillingAddress
9,True,ubranch@rivera-parker.info,(772)964-8162x6310,6mpx027neyz6sh04n3ue,86.16.65.228,"6974 Robertson Common Apt. 902\nPort Juanside, ID 80590-9633",9,0,0,1,0,0,0,0
23,True,guerramichael@hotmail.com,299-883-0904,webmbgi39hwejv3d90kt,245.38.171.222,"13553 Michelle Freeway Apt. 290\nTammyhaven, GU 02869-4630",23,0,0,1,0,0,0,0
34,False,zbennett@frazier.com,995.449.5115x498,zxdd5co6f5pylq9it4x0,e03d:db6e:f5ca:b9cd:d64f:80fe:6177:26e1,"89773 Peterson Course Suite 625\nEast Amandaborough, VA 47613-8661",34,0,0,0,1,0,0,0
38,False,xwang@white.com,592.309.4963x427,1qj6z7funp3l28ym8trh,7891:9f08:9ac6:c816:7c58:26cd:ff2c:7ddc,"139 Ramirez Island Suite 885\nNew Joan, MT 69993",38,0,0,0,1,0,0,0
40,True,johnlowery@gmail.com,737-377-9701x577,jz66ap43id2y35ivfqa5,6c21:ac1d:2089:68fa:abb7:8c00:525f:6588,"08238 Kyle Squares Suite 893\nMillermouth, IN 27535-5397",40,0,0,0,1,0,1,0
41,False,smithtiffany@davis-perkins.com,384.291.0196x66623,czrv4aped9e2ndgv89b5,141.224.72.49,"1862 Melanie Islands Apt. 152\nNorth Williamhaven, IA 08202-2571",41,0,0,1,0,0,0,0
43,False,knichols@gmail.com,(664)946-1521x6991,w0ykvw2nrcc03lx6logd,43.108.40.6,"1742 Regina Turnpike Suite 295\nWest Austin, DE 93022",43,0,0,1,0,0,0,0
44,False,gsimpson@cox.org,+23(4)1428642270,nf0i429dh2h2fmf287ec,20.34.8.37,"32514 Freeman Court\nPort Waltermouth, SC 34012",44,0,0,1,0,0,0,0
47,False,johnsonjennifer@yahoo.com,1-670-969-5075x27186,yqt388sj7f142rohzukc,172.191.99.44,"6395 Christopher Lakes Suite 062\nSouth Dana, ID 74510-4952",47,0,0,1,0,0,0,0
51,False,whodges@yahoo.com,791-857-3838x784,c0zsrf0sna9bkdhncxk3,26a2:b5fa:e76c:cf72:577b:ea46:3b20:16b0,"839 Heather Mall Suite 257\nLake Robert, AL 60583-4065",51,0,0,0,1,0,0,0
54,False,zthomas@gmail.com,731.957.1783x62296,7p70n6q6zbgfhiqqqsxy,ad37:7b02:70fb:4b74:bc77:cd13:1bed:2483,"01494 Anderson Corners Suite 314\nDaviston, SC 85230",54,0,0,0,1,0,0,0
67,False,dana23@lawrence.net,+78(3)5889318722,1c9wdri783k7ts0a6ix0,168.52.139.112,USNV Bennett\nFPO AE 82607-5790,67,0,0,1,0,0,0,0
70,False,brockmatthew@hotmail.com,800.814.4655x012,132m3ourosp5a28ksvou,188.74.171.130,"08645 Alvarado Way Suite 514\nMillerfurt, AL 86782-0548",70,0,0,1,0,0,0,0
76,False,kevinreyes@johnston.net,1-586-561-8956x40209,jfu1ob6izknk46i3ddxw,e0ec:bc57:9219:e4b:9192:64c2:82cd:4983,"958 House Plaza\nBarnesberg, WA 67085-1912",76,0,0,0,1,0,0,0
82,True,michael57@oconnor.com,06109351281,vqvlsaw0j6p0r8sij1qs,30.23.223.15,"905 David Rest\nNicolemouth, OK 53015-0063",82,0,0,1,0,0,0,0
86,False,grace99@wright.com,257-706-1003x92053,1rqqqzad6b2grmhvktxf,3c3d:d324:e445:35c:4d73:936a:e1bb:ce99,"88469 Rebecca Land\nWest Kyleborough, DC 15715-5196",86,0,0,0,1,0,0,0
96,True,ukline@spears.biz,(199)535-2932,vv7fwhdfrxaeozga5be6,990a:643c:1936:30db:f90:90fe:c1e0:47c,"2038 Billy Turnpike\nBarreraside, AR 77704-0733",96,0,0,0,1,0,0,0
108,True,3fooiar@6eph,1-774-301-9632x42146,by46esafzb52tuqcy9d1,181.88.44.76,"942 Hopkins Loaf Suite 128\nPort Clifford, AK 28150",108,1,0,1,0,0,0,0
116,False,shawseth@stout-novak.com,00065094171,svq3bmo24fmvgqjpzb7i,d606:a3a7:a070:6a0:3aa1:c662:1492:ae8c,"3257 Mercado Underpass Suite 577\nSouth Jordanville, MN 63747-7262",116,0,0,0,1,0,0,0
122,False,kellyfrank@atkinson.com,385.658.6769x97942,7oxxcwtvj7ypxqjgot80,77a1:d842:acfc:5d50:a803:70c1:4f8b:7cfc,"05919 Lopez Hollow\nNoblestad, IN 29012",122,0,0,0,1,0,0,0
125,False,wbeltran@ramirez-shaffer.com,1-627-545-5097x7356,z0uxvp8sio7nyv7op58j,1b75:d451:c48a:12:cfc7:bc1e:d748:ee62,"4873 Perez Groves\nWest Gregoryburgh, NH 45193-3053",125,0,0,0,1,0,0,0
127,False,xramos@hardy.net,658-087-1973x688,4kl0sso2vjavht738gbq,472b:1d87:5a09:953a:8ced:a2bf:e862:b927,"522 Christensen Mall Apt. 479\nMitchellville, NJ 37446-7414",127,0,0,0,1,0,0,0
133,True,johnlowery@gmail.com,1-143-059-1833,tyijaify2hqadwslejyr,e4c:fb48:8ee2:9819:6ae8:8d3f:3b6a:a788,"518 Wood Mews Apt. 970\nDillonstad, NE 43317-3945",133,0,0,0,1,0,1,0
137,False,stephanie21@reyes-spencer.biz,990.862.5466x7247,r526953keh7ctxcf9lnh,96eb:8d53:678:53ba:599b:5db6:3fe3:3218,"31068 Vance Forks Suite 516\nNew Christopher, VI 95596",137,0,0,0,1,0,0,0
139,False,bhorne@fuller-nelson.com,1-512-954-5541,dgfa5pe2t45d1u6ox33l,118e:7887:94b6:b2a7:d2ad:8f35:c241:3149,"25653 Key Gateway\nPort Robert, PA 64370",139,0,0,0,1,0,0,0
149,False,davidwalker@hotmail.com,02877590244,96ikyqg56kakwa4eix4q,e634:6f95:c48d:8db4:8e95:dfc8:7225:1e0a,"8765 Dyer Alley Apt. 682\nDominguezburgh, ME 74208",149,0,0,0,1,0,0,0
150,False,philipnelson@dean.com,534-301-8809,xvxnwq1qs3gglt4k4g5t,ea1d:c7d:1e39:a10d:d15f:6430:d2a6:aaf,"40185 Kim Motorway\nShawchester, IL 78234-1556",150,0,0,0,1,0,0,0

In [378]:
clients_to_delete = set(no_order_customers.union(no_paymentMethod_customers).union(no_transactions_customers))

# Tworzenie zmiennych

In [379]:
orders_by_state = orders_df.groupby(['customer_id', 'orderState'])['orderId'].count().unstack().fillna(0).add_prefix('orders_').reset_index()
orders_by_state.head()

orderState  customer_id  orders_failed  orders_fulfilled  orders_pending
0           0            0.0            1.0               1.0
1           1            0.0            3.0               0.0
2           2            1.0            2.0               0.0
3           3            0.0            3.0               0.0
4           4            1.0            6.0               0.0

In [380]:
orders_value_sum = orders_df.groupby(['customer_id'])['orderAmount'].sum().reset_index().rename(columns={'orderAmount': 'orders_value_sum'})
orders_value_sum.head()

   customer_id  orders_value_sum
0  0            44
1  1            111
2  2            82
3  3            85
4  4            411

In [381]:
orders_all = orders_df.groupby(['customer_id'])['orderId'].count().reset_index().rename(columns={'orderId': 'orders_sum'})
orders_all.head()

   customer_id  orders_sum
0  0            2
1  1            3
2  2            3
3  3            3
4  4            7

In [382]:
orders_repeatedAddress = orders_df.drop_duplicates('orderShippingAddress').groupby(['customer_id']).count().reset_index()[['customer_id', 'orderAmount']].rename(columns={'orderAmount': 'unique_orderShippingAddress'})
orders_repeatedAddress.head()

   customer_id  unique_orderShippingAddress
0  0            1
1  1            3
2  2            2
3  3            2
4  4            2

In [383]:
strange_paymentMethodIssuer_customer_ids = paymentMethods_df[paymentMethods_df['paymentMethodIssuer'].str.len() == 1]['customer_id'].drop_duplicates().tolist()
customers_df.loc[customers_df['customer_id'].isin(strange_paymentMethodIssuer_customer_ids), 'strange_paymentMethodIssuer'] = 1

In [384]:
test_df = paymentMethods_df.drop_duplicates(['customer_id', 'paymentMethodIssuer'])
paymentMethods_issuers = test_df.groupby('customer_id').paymentMethodIssuer.size().reset_index().rename(columns={'paymentMethodIssuer': 'unique_paymentMethodIssuer'})
paymentMethods_issuers

     customer_id  unique_paymentMethodIssuer
0    0            1
1    1            6
2    2            2
3    3            1
4    4            4
5    5            2
6    6            2
7    7            2
8    8            1
9    9            1
10   10           1
11   11           3
12   12           3
13   13           1
14   14           2
15   15           1
16   16           2
17   17           2
18   18           1
19   19           2
20   20           1
21   21           2
22   22           1
23   23           1
24   24           1
25   25           2
26   26           1
27   27           1
28   28           2
29   29           5
30   30           1
31   31           2
32   32           1
33   33           3
34   35           1
35   36           1
36   37           1
37   39           2
38   40           1
39   41           1
40   42           1
41   43           1
42   45           1
43   46           2
44   48           2
45   49           1
46   50           3
47   51           1
48   52           2
49   53           2
50   55           1
51   56           2
52   57           1
53   58           1
54   59           1
55   60           5
56   61           2
57   62           2
58   63           1
59   64           2
60   65           1
61   66           3
62   67           1
63   68           9
64   69           1
65   71           2
66   72           3
67   73           1
68   74           2
69   75           1
70   76           1
71   77           1
72   78           2
73   79           1
74   80           7
75   81           3
76   82           2
77   83           1
78   84           1
79   85           4
80   86           1
81   87           2
82   88           2
83   89           1
84   90           1
85   91           1
86   92           1
87   93           4
88   94           1
89   95           1
90   96           3
91   97           1
92   98           4
93   99           3
94   100          3
95   101          2
96   102          4
97   103          1
98   104          1
99   105          2
100  106          2
101  107          1
102  108          1
103  109          1
104  110          2
105  111          1
106  112          4
107  113          3
108  114          1
109  115          3
110  116          1
111  117          1
112  118          3
113  119          1
114  120          4
115  121          4
116  122          1
117  123          1
118  124          2
119  126          1
120  127          1
121  128          1
122  129          4
123  130          2
124  131          1
125  132          2
126  134          1
127  135          2
128  136          1
129  138          2
130  140          2
131  141          2
132  142          3
133  143          1
134  144          5
135  145          1
136  146          2
137  147          1
138  148          4
139  151          3
140  152          1
141  153          2
142  154          1
143  155          2
144  156          1
145  157          1
146  158          2
147  159          1
148  160          1
149  161          3
150  162          1
151  163          1
152  164          3
153  165          2
154  166          5
155  167          4

In [385]:
test_df2 = paymentMethods_df.drop_duplicates(['customer_id', 'paymentMethodProvider'])
paymentMethods_providers = test_df2.groupby('customer_id').paymentMethodProvider.size().reset_index().rename(columns={'paymentMethodProvider': 'unique_paymentMethodProvider'})
paymentMethods_providers

     customer_id  unique_paymentMethodProvider
0    0            1
1    1            6
2    2            2
3    3            1
4    4            4
5    5            2
6    6            2
7    7            2
8    8            1
9    9            1
10   10           1
11   11           4
12   12           1
13   13           1
14   14           2
15   15           1
16   16           1
17   17           2
18   18           1
19   19           2
20   20           1
21   21           2
22   22           1
23   23           1
24   24           1
25   25           2
26   26           1
27   27           1
28   28           2
29   29           5
30   30           1
31   31           2
32   32           1
33   33           2
34   35           1
35   36           1
36   37           1
37   39           2
38   40           1
39   41           1
40   42           1
41   43           1
42   45           1
43   46           2
44   48           2
45   49           1
46   50           3
47   51           1
48   52           3
49   53           2
50   55           1
51   56           2
52   57           1
53   58           1
54   59           1
55   60           6
56   61           2
57   62           2
58   63           1
59   64           2
60   65           1
61   66           3
62   67           1
63   68           9
64   69           1
65   71           2
66   72           3
67   73           1
68   74           2
69   75           1
70   76           1
71   77           1
72   78           2
73   79           1
74   80           7
75   81           2
76   82           2
77   83           1
78   84           1
79   85           3
80   86           1
81   87           2
82   88           2
83   89           1
84   90           1
85   91           1
86   92           1
87   93           7
88   94           1
89   95           1
90   96           3
91   97           1
92   98           5
93   99           3
94   100          2
95   101          2
96   102          4
97   103          1
98   104          1
99   105          2
100  106          3
101  107          1
102  108          1
103  109          1
104  110          2
105  111          1
106  112          3
107  113          3
108  114          1
109  115          3
110  116          1
111  117          1
112  118          3
113  119          1
114  120          5
115  121          4
116  122          1
117  123          1
118  124          2
119  126          1
120  127          1
121  128          1
122  129          3
123  130          2
124  131          1
125  132          2
126  134          1
127  135          3
128  136          1
129  138          2
130  140          2
131  141          1
132  142          2
133  143          1
134  144          3
135  145          1
136  146          2
137  147          1
138  148          4
139  151          4
140  152          2
141  153          2
142  154          1
143  155          3
144  156          1
145  157          1
146  158          2
147  159          1
148  160          1
149  161          2
150  162          1
151  163          1
152  164          2
153  165          1
154  166          6
155  167          3

In [386]:
paymentMethods_registrations = paymentMethods_df.groupby(['customer_id', 'paymentMethodType'])['paymentMethodId'].count().unstack().fillna(0).add_prefix('paymentMethod_').reset_index()
paymentMethods_registrations.head()

paymentMethodType,customer_id,paymentMethod_apple pay,paymentMethod_bitcoin,paymentMethod_card,paymentMethod_paypal
0,0,0.0,0.0,1.0,0.0
1,1,0.0,2.0,5.0,0.0
2,2,0.0,0.0,2.0,0.0
3,3,0.0,0.0,1.0,0.0
4,4,3.0,0.0,3.0,0.0

In [387]:
paymentMethods_types = paymentMethods_df.groupby(['customer_id', 'paymentMethodRegistrationFailure'])['paymentMethodId'].count().unstack().fillna(0).add_prefix('paymentMethod_').reset_index()
paymentMethods_types.head()

paymentMethodRegistrationFailure,customer_id,paymentMethod_False,paymentMethod_True
0,0,0.0,1.0
1,1,6.0,1.0
2,2,2.0,0.0
3,3,1.0,0.0
4,4,6.0,0.0

In [388]:
paymentMethods_all = paymentMethods_df.groupby(['customer_id'])['paymentMethodId'].count().reset_index().rename(columns={'paymentMethodId': 'paymentMethod_all'})
paymentMethods_all.head()

   customer_id  paymentMethod_all
0  0            1
1  1            7
2  2            2
3  3            1
4  4            6

In [389]:
transactions_by_state = transactions_df.groupby(['customer_id', 'transactionFailed'])['transactionId'].count().unstack().fillna(0).add_prefix('transactions_').reset_index()
transactions_by_state.head()

transactionFailed  customer_id  transactions_False  transactions_True
0                  0            2.0                 0.0
1                  1            2.0                 1.0
2                  2            3.0                 2.0
3                  3            3.0                 0.0
4                  4            5.0                 2.0

In [390]:
transactions_value_sum = transactions_df.groupby(['customer_id'])['transactionAmount'].sum().reset_index().rename(columns={'transactionAmount': 'transactions_value_sum'})
transactions_value_sum.head()

   customer_id  transactions_value_sum
0  0            44
1  1            111
2  2            131
3  3            85
4  4            411

In [391]:
transactions_all = transactions_df.groupby(['customer_id'])['transactionId'].count().reset_index().rename(columns={'transactionId': 'transaction_all'})
transactions_all.head()

   customer_id  transaction_all
0  0            2
1  1            3
2  2            5
3  3            3
4  4            7

In [394]:
features_df = customers_df[['customer_id', 'fraudulent', 'strange_customerEmail',\
                            'strange_paymentMethodIssuer', 'ipv4', 'ipv6',\
                            'repeated_customerIPAddress', 'repeated_customerEmail',\
                            'repeated_customerBillingAddress']]
features_df.head()

,customer_id,fraudulent,strange_customerEmail,strange_paymentMethodIssuer,ipv4,ipv6,repeated_customerIPAddress,repeated_customerEmail,repeated_customerBillingAddress
0,0,False,0,0,1,0,0,0,0
1,1,True,0,0,1,0,0,0,0
2,2,False,0,0,0,1,0,0,0
3,3,False,0,0,0,1,0,0,0
4,4,True,0,0,1,0,0,0,0

In [395]:
feature_dfs = [orders_by_state, orders_value_sum, orders_all, paymentMethods_registrations,\
               paymentMethods_types, paymentMethods_all, transactions_by_state,\
               transactions_value_sum, transactions_all, orders_repeatedAddress,\
               paymentMethods_issuers, paymentMethods_providers]
for single_feature in feature_dfs:
    features_df = pd.merge(features_df, single_feature, how='left', on='customer_id')

In [396]:
features_df.head()

,customer_id,fraudulent,strange_customerEmail,strange_paymentMethodIssuer,ipv4,ipv6,repeated_customerIPAddress,repeated_customerEmail,repeated_customerBillingAddress,orders_failed,orders_fulfilled,orders_pending,orders_value_sum,orders_sum,paymentMethod_apple pay,paymentMethod_bitcoin,paymentMethod_card,paymentMethod_paypal,paymentMethod_False,paymentMethod_True,paymentMethod_all,transactions_False,transactions_True,transactions_value_sum,transaction_all,unique_orderShippingAddress,unique_paymentMethodIssuer,unique_paymentMethodProvider
0,0,False,0,0,1,0,0,0,0,0.0,1.0,1.0,44.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,2.0,0.0,44.0,2.0,1.0,1.0,1.0
1,1,True,0,0,1,0,0,0,0,0.0,3.0,0.0,111.0,3.0,0.0,2.0,5.0,0.0,6.0,1.0,7.0,2.0,1.0,111.0,3.0,3.0,6.0,6.0
2,2,False,0,0,0,1,0,0,0,1.0,2.0,0.0,82.0,3.0,0.0,0.0,2.0,0.0,2.0,0.0,2.0,3.0,2.0,131.0,5.0,2.0,2.0,2.0
3,3,False,0,0,0,1,0,0,0,0.0,3.0,0.0,85.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,3.0,0.0,85.0,3.0,2.0,1.0,1.0
4,4,True,0,0,1,0,0,0,0,1.0,6.0,0.0,411.0,7.0,3.0,0.0,3.0,0.0,6.0,0.0,6.0,5.0,2.0,411.0,7.0,2.0,4.0,4.0

In [397]:
features_df_clean = features_df[~features_df['customer_id'].isin(clients_to_delete)]

In [398]:
features_df_clean.head()

,customer_id,fraudulent,strange_customerEmail,strange_paymentMethodIssuer,ipv4,ipv6,repeated_customerIPAddress,repeated_customerEmail,repeated_customerBillingAddress,orders_failed,orders_fulfilled,orders_pending,orders_value_sum,orders_sum,paymentMethod_apple pay,paymentMethod_bitcoin,paymentMethod_card,paymentMethod_paypal,paymentMethod_False,paymentMethod_True,paymentMethod_all,transactions_False,transactions_True,transactions_value_sum,transaction_all,unique_orderShippingAddress,unique_paymentMethodIssuer,unique_paymentMethodProvider
0,0,False,0,0,1,0,0,0,0,0.0,1.0,1.0,44.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,2.0,0.0,44.0,2.0,1.0,1.0,1.0
1,1,True,0,0,1,0,0,0,0,0.0,3.0,0.0,111.0,3.0,0.0,2.0,5.0,0.0,6.0,1.0,7.0,2.0,1.0,111.0,3.0,3.0,6.0,6.0
2,2,False,0,0,0,1,0,0,0,1.0,2.0,0.0,82.0,3.0,0.0,0.0,2.0,0.0,2.0,0.0,2.0,3.0,2.0,131.0,5.0,2.0,2.0,2.0
3,3,False,0,0,0,1,0,0,0,0.0,3.0,0.0,85.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,3.0,0.0,85.0,3.0,2.0,1.0,1.0
4,4,True,0,0,1,0,0,0,0,1.0,6.0,0.0,411.0,7.0,3.0,0.0,3.0,0.0,6.0,0.0,6.0,5.0,2.0,411.0,7.0,2.0,4.0,4.0

In [399]:
features_df_clean.isna().sum()

customer_id                        0
fraudulent                         0
strange_customerEmail              0
strange_paymentMethodIssuer        0
ipv4                               0
ipv6                               0
repeated_customerIPAddress         0
repeated_customerEmail             0
repeated_customerBillingAddress    0
orders_failed                      0
orders_fulfilled                   0
orders_pending                     0
orders_value_sum                   0
orders_sum                         0
paymentMethod_apple pay            0
paymentMethod_bitcoin              0
paymentMethod_card                 0
paymentMethod_paypal               0
paymentMethod_False                0
paymentMethod_True                 0
paymentMethod_all                  0
transactions_False                 0
transactions_True                  0
transactions_value_sum             0
transaction_all                    0
unique_orderShippingAddress        0
unique_paymentMethodIssuer         0
unique_paymentMethodProvider       0
dtype: int64

# Tworzenie modelu

## Random Forest

In [400]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features_df_clean['fraudulent'])
# Remove the labels from the features
# axis 1 refers to the columns
features = features_df_clean.loc[:, 'strange_customerEmail':'unique_paymentMethodProvider']
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [401]:
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_x, test_x, train_y, test_y = train_test_split(features, labels, 
                                                    test_size = 0.25, random_state = 23)

In [402]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 23)
# Train the model on training data
rf.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=23, verbose=0,
                       warm_start=False)

In [403]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_x)

In [404]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(train_y, rf.predict(train_x))

1.0

In [405]:
accuracy_score(test_y, predictions)

0.7777777777777778

In [406]:
confusion_matrix(test_y, predictions)

array([[18,  1],
       [ 7, 10]])

## Logistic Regression

In [407]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(train_x, train_y)

/home/azawalich/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [408]:
from sklearn.metrics import classification_report

In [409]:
print(classification_report(test_y, predictions))

              precision    recall  f1-score   support

       False       0.72      0.95      0.82        19
        True       0.91      0.59      0.71        17

    accuracy                           0.78        36
   macro avg       0.81      0.77      0.77        36
weighted avg       0.81      0.78      0.77        36

## SVM

In [410]:
from sklearn import svm
clf = svm.SVC(gamma=0.001, C=100.)
clf.fit(train_x, train_y)

SVC(C=100.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.001, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [411]:
clf_predictions = clf.predict(test_x)
print("Accuracy: {}%".format(clf.score(test_x, test_y) * 100 ))

Accuracy: 63.888888888888886%